<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="headerTag">
        Add New Account
        <a class="btn btn-primary" routerLink="/accountsummary" style="margin-left: 79%;" href="#">Account Summary</a>
    </div>
    <div class="dropdownNav">
        <button class="btn btn-dark userLogin">A</button>
        <div class="dropdown-content">
            <a routerLink="/admin">Admin</a>
            <a (click)="logout()">Logout</a>
        </div>
    </div>
</nav>

<div class="body">
    <div class="alert alert-danger" *ngIf="!isSaved">
        <p><strong>There were errors saving the data. Make sure to validate the below errors</strong></p>
        <ul>
            <li>All the required fields are filled</li>
            <li>Start Launch Date is less than Expected Completion Date (If both entered)</li>
        </ul>
    </div>
    <form #f="ngForm" (ngSubmit)="save(f.value)">
        <!--Clients & Categorization-->
        <div class="form-row border-section">
            <div class="form-group col-md-12">
                <label style="font-weight: bold;">Clients & Categorization</label>
            </div>
            <div class="form-group col-md-2" style="display: none;">
                <label for="pROG_TRANX_ID">pROG_TRANX_ID</label>
                <input #pROG_TRANX_ID="ngModel" [(ngModel)]="account.pROG_TRANX_ID" name="pROG_TRANX_ID" type="text"
                    class="form-control" id="pROG_TRANX_ID">
            </div>
            <div class="form-group col-md-2">
                <label for="Keyfield">Key Field</label>
                <input #Keyfield="ngModel" [(ngModel)]="account.mARKET_ID + account.gBG_CODE_NAME" name="Keyfield"
                    placeholder="KeyField" type="text" readonly class="form-control" id="Keyfield">
            </div>
            <div class="form-group col-md-2">
                <label for="iOT_ID">IOT <span style=color:red>*</span></label>
                <select #iOT_ID="ngModel" [(ngModel)]="account.iOT_ID" id="iOT_ID" name="iOT_ID" class="form-control">
                    
                    <option>EU</option>
                    <option>NA</option>
                    <option>LA</option>
                    <option>JP</option>
                    <option>AP</option>
                    <option>MEA</option>
                    <option>GCG</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="mARKET_ID">Market<span style=color:red>*</span></label>
                <input #mARKET_ID="ngModel" [(ngModel)]="account.mARKET_ID" required type="text" name="mARKET_ID"
                    class="form-control" id="mARKET_ID">
            </div>
            <div class="form-group col-md-4">
                <label for="cLIENT_NAME_ID">Client Name<span style=color:red>*</span></label>
                <input #cLIENT_NAME_ID="ngModel" [(ngModel)]="account.cLIENT_NAME_ID" name="cLIENT_NAME_ID" type="text"
                    class="form-control" id="cLIENT_NAME_ID">
            </div>
            <div class="form-group col-md-2">
                <label for="gBG_CODE_NAME">GBG Code<span style=color:red>*</span></label>
                <input #gBG_CODE_NAME="ngModel" [(ngModel)]="account.gBG_CODE_NAME" name="gBG_CODE_NAME" type="text"
                    class="form-control" id="gBG_CODE_NAME">
            </div>
            <div class="fo2m-group col-md-2">
                <label for="qUARTER">Quarter<span style=color:red>*</span></label>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <select #qUARTER="ngModel" [(ngModel)]="account.qUARTER" name="qUARTER" id="qUARTER"
                            class="form-control">
                            
                            <option>Q1</option>
                            <option>Q2</option>
                            <option>Q3</option>
                            <option>Q4</option>
                        </select>
                    </div>
                    <select #qUARTER_YEAR="ngModel" [(ngModel)]="account.qUARTER_YEAR" name="qUARTER_YEAR"
                        id="qUARTER_YEAR" class="form-control">
                        
                        <option>2019</option>
                        <option>2020</option>
                    </select>

                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="aCCOUNT_TYPE">Account Type</label>
                <select #aCCOUNT_TYPE="ngModel" [(ngModel)]="account.aCCOUNT_TYPE" name="aCCOUNT_TYPE" id="aCCOUNT_TYPE"
                    class="form-control">
                    
                    <option>High Touch</option>
                    <option>Low Touch</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="sTAFFING_MODEL">Staffing Model</label>
                <select #sTAFFING_MODEL="ngModel" [(ngModel)]="account.sTAFFING_MODEL" name="sTAFFING_MODEL"
                    id="sTAFFING_MODEL" class="form-control">
                    
                    <option>Experiential Selling</option>
                    <option>Surge</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group col-md-2">
            </div>
        </div>
        <p></p>
        <!-- Squads Initiation-->
        <div class="form-row border-section">
            <div class="form-group col-md-12">
                <label style="font-weight: bold;">Squads Initiation</label>
            </div>
            <div class="form-group col-md-2">
                <label for="cIO_AGREEMENT">CIO Buy-In Agreement?</label>
                <select #cIO_AGREEMENT="ngModel" [(ngModel)]="account.cIO_AGREEMENT" name="cIO_AGREEMENT"
                    id="cIO_AGREEMENT" class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>NA</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="pOC_CLNT_ACK">POC Letter Acknowledged by Client? </label>
                <select #pOC_CLNT_ACK="ngModel" [(ngModel)]="account.pOC_CLNT_ACK" name="pOC_CLNT_ACK" id="pOC_CLNT_ACK"
                    class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>NA</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="fUND_TYPE">Funding Type</label>
                <select #fUND_TYPE="ngModel" [(ngModel)]="account.fUND_TYPE" id="fUND_TYPE" name="fUND_TYPE"
                    class="form-control">
                    
                    <option>Account Funded</option>
                    <option>B&P</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label for="cLAIM_CODE">Claim Code</label>
                <input #cLAIM_CODE="ngModel" [(ngModel)]="account.cLAIM_CODE" type="text" name="cLAIM_CODE"
                    class="form-control" id="cLAIM_CODE">
            </div>
            <div class="form-group col-md-4">
                <label for="uC_SELECTION">Use Case Selection</label>
                <select #uC_SELECTION="ngModel" [(ngModel)]="account.uC_SELECTION" id="uC_SELECTION" name="uC_SELECTION"
                    class="form-control">
                    
                    <option>1- Modernization / Containerization</option>
                    <option>2- Scale of modernization transformation</option>
                    <option>3- Lift n Shift with minimal re-factoring of workloads</option>
                    <option>4- Journey to public cloud using cloud native approach</option>
                    <option>5- Integration / API enablement</option>
                    <option>6. UC Not yet Identified</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="sQD_LUNCH_DT">Squad Launch Date?</label>


                <input #sQD_LUNCH_DT="ngModel" name="sQD_LUNCH_DT" type="date"
                    [ngModel]="account.sQD_LUNCH_DT | date:'yyyy-MM-dd'" (ngModelChange)="account.sQD_LUNCH_DT = $event"
                    class="form-control" id="sQD_LUNCH_DT">
            </div>
            <div class="form-group col-md-3">
                <label for="tRGT_COMP_Q1">On Target to Complete in Current Quarter?</label>
                <select #tRGT_COMP_Q1="ngModel" [(ngModel)]="account.tRGT_COMP_Q1" id="tRGT_COMP_Q1" name="tRGT_COMP_Q1"
                    class="form-control">
                    
                    <option>Yes</option>
                    <option>Deferred</option>
                    <option>Stopped</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="eXP_SQD_COMP_DT">Expected Completion Date?</label>
                <input #eXP_SQD_COMP_DT="ngModel" name="eXP_SQD_COMP_DT"
                    [ngModel]="account.eXP_SQD_COMP_DT | date:'yyyy-MM-dd'"
                    (ngModelChange)="account.eXP_SQD_COMP_DT = $event" type="date" class="form-control"
                    id="eXP_SQD_COMP_DT">
            </div>
            <div class="form-group col-md-2">
                <label for="sQD_STAFF">Squad FULLY Staffed?</label>
                <select #sQD_STAFF="ngModel" [(ngModel)]="account.sQD_STAFF" id="sQD_STAFF" name="sQD_STAFF"
                    class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>In Progress</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="sANDBOX_EST">Sandbox Established?</label>
                <select #sANDBOX_EST="ngModel" [(ngModel)]="account.sANDBOX_EST" id="sANDBOX_EST" name="sANDBOX_EST"
                    class="form-control">
                    
                    <option>IBM</option>
                    <option>On Prem</option>
                    <option>AWS</option>
                    <option>Azure</option>
                    <option>GCP</option>
                    <option>Not Required</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="sPRNT0_WK1_STATUS">ES Sprint 0 Complete? Week 1</label>
                <select #sPRNT0_WK1_STATUS="ngModel" [(ngModel)]="account.sPRNT0_WK1_STATUS" id="sPRNT0_WK1_STATUS"
                    name="sPRNT0_WK1_STATUS" class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>In Progress</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="sQD_LUNCH_PROD">Squad Officially Launched & Productive?</label>
                <select #sQD_LUNCH_PROD="ngModel" [(ngModel)]="account.sQD_LUNCH_PROD" name="sQD_LUNCH_PROD"
                    id="sQD_LUNCH_PROD" class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>In Progress</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="form-row border-section">
            <div class="form-group col-md-12">
                <label style="font-weight: bold;">Squads Progress</label>
            </div>
            <div class="form-group col-md-2">
                <label for="cLNT_APP_IDENT_WK1">ES Client App Identified?</label>
                <select #cLNT_APP_IDENT_WK1="ngModel" [(ngModel)]="account.cLNT_APP_IDENT_WK1" name="cLNT_APP_IDENT_WK1"
                    id="cLNT_APP_IDENT_WK1" class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>In Progress</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="sPRNT1_WK2_STATUS">ES Sprint 1 Reference Imp Complete? Week 2-3</label>
                <select #sPRNT1_WK2_STATUS="ngModel" [(ngModel)]="account.sPRNT1_WK2_STATUS" id="sPRNT1_WK2_STATUS"
                    name="sPRNT1_WK2_STATUS" class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>In Progress</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="sPRNT2_WK4_STATUS">ES Sprint 2 Complete? Week 4-5</label>
                <select #sPRNT2_WK4_STATUS="ngModel" [(ngModel)]="account.sPRNT2_WK4_STATUS" id="sPRNT2_WK4_STATUS"
                    name="sPRNT2_WK4_STATUS" class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>In Progress</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="bUS_CASE_COMP_WK5_STATUS">ES Roadmap Business Case Complete? Week 5-6</label>
                <select #bUS_CASE_COMP_WK5_STATUS="ngModel" [(ngModel)]="account.bUS_CASE_COMP_WK5_STATUS"
                    id="bUS_CASE_COMP_WK5_STATUS" name="bUS_CASE_COMP_WK5_STATUS" class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>In Progress</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="fIN_PLYBK__COMP_WK6_STATUS">ES Final Playback Complete? Week 6</label>
                <select #fIN_PLYBK__COMP_WK6_STATUS="ngModel" [(ngModel)]="account.fIN_PLYBK__COMP_WK6_STATUS"
                    id="fIN_PLYBK__COMP_WK6_STATUS" name="fIN_PLYBK__COMP_WK6_STATUS" class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>In Progress</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="pOC_COMP_DT">PoC Officially Completed?</label>
                <input #pOC_COMP_DT="ngModel" name="pOC_COMP_DT" type="date"
                    [ngModel]="account.pOC_COMP_DT | date:'yyyy-MM-dd'" (ngModelChange)="account.pOC_COMP_DT = $event"
                    class="form-control" id="pOC_COMP_DT">
            </div>
            <div class="form-group col-md-6">
            </div>
        </div>
        <p></p>
        <div class="form-row border-section">
            <div class="form-group col-md-12">
                <label style="font-weight: bold;">Squads Feedback</label>
            </div>
            <div class="form-group col-md-3">
                <label for="sQD_PM_NOTES_ID">Squad PM Notes ID</label>
                <input #sQD_PM_NOTES_ID="ngModel" [(ngModel)]="account.sQD_PM_NOTES_ID" name="sQD_PM_NOTES_ID"
                    type="text" class="form-control" id="sQD_PM_NOTES_ID">
            </div>
            <div class="form-group col-md-3">
                <label for="sQD_COACH_NOTES_ID">Squad Coach Notes ID</label>
                <input #sQD_COACH_NOTES_ID="ngModel" [(ngModel)]="account.sQD_COACH_NOTES_ID" name="sQD_COACH_NOTES_ID"
                    type="text" class="form-control" id="sQD_COACH_NOTES_ID">
            </div>
            <div class="form-group col-md-6">
                <label for="cOMMENTS">Progression / Feedback / Observations / Comments</label>
                <textarea #cOMMENTS="ngModel" [(ngModel)]="account.cOMMENTS" class="form-control" name="cOMMENTS"
                    id="cOMMENTS" rows="3" cols="20"></textarea>
            </div>
        </div>
        <p></p>
        <div class="form-row border-section">
            <div class="form-group col-md-12">
                <label style="font-weight: bold;">POC Outcomes</label>
            </div>
            <div class="form-group col-md-3">
                <label for="gBS_ATLAS_ID">GBS Atlas IDs</label>
                <input #gBS_ATLAS_ID="ngModel" [(ngModel)]="account.gBS_ATLAS_ID" name="gBS_ATLAS_ID" type="text"
                    class="form-control" id="gBS_ATLAS_ID">
            </div>
            <div class="form-group col-md-4">
                <label for="gBS_APP_Mod_PIP">GBS Application Modernization V+ Pipeline (TCV/ QTR) </label>
                <input #gBS_APP_Mod_PIP="ngModel" [(ngModel)]="account.gBS_APP_Mod_PIP" name="gBS_APP_Mod_PIP"
                    type="text" class="form-control" id="gBS_APP_Mod_PIP">
            </div>
            <div class="form-group col-md-5">
                <label for="cAS_ACTUAL_SIGN">Outcome CAS Actual Signed TCV</label>
                <input #cAS_ACTUAL_SIGN="ngModel" [(ngModel)]="account.cAS_ACTUAL_SIGN" type="text"
                    name="cAS_ACTUAL_SIGN" class="form-control" id="cAS_ACTUAL_SIGN">
            </div>
        </div>
        <p></p>
        <div class="form-row border-section">
            <div class="form-group col-md-12">
                <label style="font-weight: bold;">Other Opportunities & Other Opp Outcomes</label>
            </div>
            <div class="form-group col-md-3">
                <label for="cLOUD_OPPORTUNITY">IBM Cloud Pak Hybrid Cloud Opportunity?</label>
                <select #cLOUD_OPPORTUNITY="ngModel" [(ngModel)]="account.cLOUD_OPPORTUNITY" id="cLOUD_OPPORTUNITY"
                    name="cLOUD_OPPORTUNITY" class="form-control">
                    
                    <option>Yes</option>
                    <option>No</option>
                    <option>NA</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="cLOUD_PAKS_SOLD">IBM Cloud Paks Sold ($ACV / $License / $ELA)</label>
                <input #cLOUD_PAKS_SOLD="ngModel" [(ngModel)]="account.cLOUD_PAKS_SOLD" name="cLOUD_PAKS_SOLD"
                    type="text" class="form-control" id="cLOUD_PAKS_SOLD">
            </div>
            <div class="form-group col-md-5">
                <label for="cLOUD_PACK_NOTE_ID">Contact person Notes ID</label>
                <input #cLOUD_PACK_NOTE_ID="ngModel" [(ngModel)]="account.cLOUD_PACK_NOTE_ID" name="cLOUD_PACK_NOTE_ID"
                    type="text" class="form-control" id="cLOUD_PACK_NOTE_ID">
            </div>
            <div class="form-group col-md-3">
                <label for="cLOUD_PLAT_OPPORTUNITY">IBM Public Cloud Platform Opportunity?</label>
                <input #cLOUD_PLAT_OPPORTUNITY="ngModel" [(ngModel)]="account.cLOUD_PLAT_OPPORTUNITY"
                    name="cLOUD_PLAT_OPPORTUNITY" type="text" class="form-control" id="cLOUD_PLAT_OPPORTUNITY">
            </div>
            <div class="form-group col-md-4">
                <label for="pUB_CLOUD_SOLD_CUM">IBM Public Cloud Sold Cumulative</label>
                <input #pUB_CLOUD_SOLD_CUM="ngModel" [(ngModel)]="account.pUB_CLOUD_SOLD_CUM" name="pUB_CLOUD_SOLD_CUM"
                    type="text" class="form-control" id="pUB_CLOUD_SOLD_CUM">
            </div>
            <div class="form-group col-md-5">
                <label for="pUBLIC_CLOUD_NOTE_ID">Contact person Notes ID</label>
                <input #pUBLIC_CLOUD_NOTE_ID="ngModel" [(ngModel)]="account.pUBLIC_CLOUD_NOTE_ID"
                    name="pUBLIC_CLOUD_NOTE_ID" type="text" class="form-control" id="pUBLIC_CLOUD_NOTE_ID">
            </div>
            <div class="form-group col-md-3">
                <label for="gTS_MNG_SRV_OPP">GTS Managed Container Services Opportunity?</label>
                <input #gTS_MNG_SRV_OPP="ngModel" [(ngModel)]="account.gTS_MNG_SRV_OPP" name="gTS_MNG_SRV_OPP"
                    type="text" class="form-control" id="gTS_MNG_SRV_OPP">
            </div>
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-5">
                <label for="gTS_MANAGED_NOTE_ID">Contact person Notes ID</label>
                <input #gTS_MANAGED_NOTE_ID="ngModel" [(ngModel)]="account.gTS_MANAGED_NOTE_ID"
                    name="gTS_MANAGED_NOTE_ID" type="text" class="form-control" id="gTS_MANAGED_NOTE_ID">
            </div>
            <div class="form-group col-md-6">
                <label for="oPN_ADOP_STATUS">OpenShift Adoption Status?</label>
                <select #oPN_ADOP_STATUS="ngModel" [(ngModel)]="account.oPN_ADOP_STATUS" id="oPN_ADOP_STATUS"
                    name="oPN_ADOP_STATUS" class="form-control">
                    
                    <option>Application Level</option>
                    <option>Division Level</option>
                    <option>Enterprise Level</option>
                    <option>Not Adopted</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-2" style="padding:30px;margin:auto">
            <button class="btn btn-primary" *ngIf="isEdit">Update</button> <button style="visibility: hidden;"></button>
            <button class="btn btn-primary" *ngIf="!isEdit">Save</button> <button style="visibility: hidden;"></button>
            <a routerLink="/accountsummary" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>