<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="headerTag">
        Account Summary
        <label style="margin-left:25%;margin-right: 1vw;">Import File</label>
        <input type="file" style="font-size:15px" id="customFile" accept="excel/*" (change)="onSelectFile($event)">
    </div>
    <div class="dropdownNav">
        <button class="btn btn-dark userLogin">A</button>
        <div class="dropdown-content">
            <a routerLink="/admin">Admin</a>
            <a (click)="logout()">Logout</a>
        </div>
    </div>
</nav>
<div style="margin-top: 1.5vh" *ngIf="data.length > 0">
    <div style="width:95%; margin:auto">
        <input #query (keyup)="filter(query.value)" type="text" class="form-control"
            placeholder="Search by Client Name...">
    </div>
    <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th style="width:4%">
                    S. No
                </th>
                <th style="width:24%">
                    <mfDefaultSorter by="cLIENT_NAME_ID">Client Name</mfDefaultSorter>
                </th>
                <th style="width:8%">
                    <mfDefaultSorter by="iOT_ID">IOT</mfDefaultSorter>
                </th>
                <th style="width:8%">
                    <mfDefaultSorter by="mARKET_ID">Market</mfDefaultSorter>
                </th>
                <th style="width:8%">
                    <mfDefaultSorter by="qUARTER">Quarter</mfDefaultSorter>
                </th>
                <th style="width:10%">
                    <mfDefaultSorter by="sQD_LUNCH_DT">Squad Launch Date</mfDefaultSorter>
                </th>
                <th style="width:14%">
                    <mfDefaultSorter by="eXP_SQD_COMP_DT">Expected Completion Date</mfDefaultSorter>
                </th>
                <th style="width:14%;padding-left:2%">
                    <mfDefaultSorter by="pOC_COMP_DT">Final Completion Date</mfDefaultSorter>
                </th>
                <th style="width:10%">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of mf.data; index as i">
                <td><label><input type="checkbox" value=""></label></td>
                <td>{{user.cLIENT_NAME_ID | titlecase}}</td>
                <td>{{user.iOT_ID}}</td>
                <td>{{user.mARKET_ID}}</td>
                <td>{{user.qUARTER + ' ' + user.qUARTER_YEAR}}</td>
                <td>{{user.sQD_LUNCH_DT | date: 'dd/MM/yyyy'}}</td>
                <td>{{user.eXP_SQD_COMP_DT | date: 'dd/MM/yyyy'}}</td>
                <td style="padding-left:2%">{{user.pOC_COMP_DT | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <button [routerLink]="['/editaccount/', user.pROG_TRANX_ID]" class="btn btn-primary"
                        style="margin-right: 1vw;">Edit</button>
                    <button [routerLink]="['/viewaccount/', user.pROG_TRANX_ID]" class="btn btn-secondary">View</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <button routerLink="/register" style="margin-right: 2vw;" class="btn btn-primary">Add New
                        Account</button>
                    <button routerLink="/register" class="btn btn-primary">Export Data</button>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td colspan="6">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div style="width: 95%;margin: auto;text-align: center;margin-top: 2vh;" *ngIf="data.length == 0">
    <h2> No Accounts found</h2>

    <button routerLink="/register" style="margin-right: 2vw;" class="btn btn-primary">Add New
        Account</button>
</div>