.headerTag {
    width: 95%;
    font-weight: bolder;
    font-size: larger;
    margin: auto;
    margin-top: 0.5vh;
    margin-left: 2%;
   
}

table {
    width: 95%;
    margin-bottom: 1rem;
    color: #212529;
    margin: auto;
}

.table td, .table th {
    padding: 0.35rem;
}

