<div class="headerTag">
  View Account Summary
  <a style="float:right" routerLink="/accountsummary" class="btn btn-secondary">Back</a>
  <button style="float:right" [routerLink]="['/editaccount/', account.pROG_TRANX_ID]"
    class="btn btn-primary">Edit Account</button>
</div>

<div class="body">
  <table class="table border-section">
    <tr>
      <td class="label color" colspan="6">Clients & Categorization</td>
    </tr>
    <tr>
      <td class="label">Key Field:</td>
      <td>{{account.mARKET_ID + account.gBG_CODE_NAME}}</td>
      <td class="label">IOT:</td>
      <td>{{account.iOT_ID}}</td>
      <td class="label">Market:</td>
      <td>{{account.mARKET_ID}}</td>
    </tr>
    <tr>
      <td class="label">GBG Code:</td>
      <td>{{account.gBG_CODE_NAME}}</td>
      <td class="label">Client Name:</td>
      <td>{{account.cLIENT_NAME_ID}}</td>
      <td class="label">Quarter:</td>
      <td>{{account.qUARTER + ' ' + account.qUARTER_YEAR}}</td>
    </tr>
    <tr>
      <td class="label">Account Type:</td>
      <td>{{account.aCCOUNT_TYPE}}</td>
      <td class="label">Staffing Model:</td>
      <td>{{account.sTAFFING_MODEL}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <table class="table border-section">
    <tr>
      <td class="label color" colspan="6">Squads Initiation</td>
    </tr>
    <tr>
      <td class="label">CIO Buy-In Agreement:</td>
      <td>{{account.cIO_AGREEMENT}}</td>
      <td class="label">POC Letter Acknowledged by Client:</td>
      <td>{{account.pOC_CLNT_ACK}}</td>
      <td class="label">Funding Type:</td>
      <td>{{account.fUND_TYPE}}</td>

    </tr>
    <tr>
      <td class="label">Claim Code:</td>
      <td>{{account.cLAIM_CODE}}</td>
      <td class="label">Use Case Selection:</td>
      <td>{{account.uC_SELECTION}}</td>
      <td class="label">Squad Launch Date:</td>
      <td>{{account.sQD_LUNCH_DT | date: 'dd/MM/yyyy'}}</td>

    </tr>
    <tr>
      <td class="label">Expected Completion Date:</td>
      <td>{{account.eXP_SQD_COMP_DT | date: 'dd/MM/yyyy'}}</td>
      <td class="label">On Target to Complete in Q1:</td>
      <td>{{account.tRGT_COMP_Q1 }}</td>
      <td class="label">Squad FULLY Staffed?</td>
      <td>{{account.sQD_STAFF}}</td>
    </tr>
    <tr>
      <td class="label">Sandbox Established?</td>
      <td>{{account.sANDBOX_EST}}</td>
      <td class="label">ES Sprint 0 Complete? Week 1</td>
      <td>{{account.sPRNT0_WK1_STATUS}}</td>
      <td class="label">Squad Officially Launched & Productive?</td>
      <td>{{account.sQD_LUNCH_PROD}}</td>

    </tr>
  </table>
  <table class="table border-section">
    <tr>
      <td class="label color" colspan="6">Squads Progress</td>
    </tr>
    <tr>
      <td class="label">ES Client App Identified:</td>
      <td>{{account.cLNT_APP_IDENT_WK1}}</td>
      <td class="label">ES Sprint 1 Reference Imp Complete? Wk 2-3:</td>
      <td>{{account.sPRNT1_WK2_STATUS}}</td>
      <td class="label">ES Sprint 2 Complete? Wk 4-5:</td>
      <td>{{account.sPRNT2_WK4_STATUS}}</td>

    </tr>
    <tr>
      <td class="label">ES Roadmap Business Case Complete? Wk 5-6:</td>
      <td>{{account.bUS_CASE_COMP_WK5_STATUS}}</td>
      <td class="label">ES Final Playback Complete? Wk 6:</td>
      <td>{{account.fIN_PLYBK__COMP_WK6_STATUS}}</td>
      <td class="label">PoC Officially Completed:</td>
      <td>{{account.pOC_COMP_DT | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </table>
  <table class="table border-section">
    <tr>
      <td class="label color" colspan="6">Squads Feedback</td>
    </tr>
    <tr>
      <td class="label">Squad PM Notes ID:</td>
      <td>{{account.sQD_PM_NOTES_ID}}</td>
      <td class="label">Squad Coach Notes ID:</td>
      <td>{{account.sQD_COACH_NOTES_ID}}</td>
      <td class="label">Progression / Feedback / Observations / Comments:</td>
      <td>{{account.cOMMENTS}}</td>
    </tr>
  </table>
  <table class="table border-section">
    <tr>
      <td class="label color" colspan="6">POC Outcomes</td>
    </tr>
    <tr>
      <td class="label">GBS Atlas IDs:</td>
      <td>{{account.gBS_ATLAS_ID}}</td>
      <td class="label">GBS Application Modernization V+ Pipeline (TCV/ QTR):</td>
      <td>{{account.gBS_APP_Mod_PIP}}</td>
      <td class="label">Outcome CAS Actual Signed TCV:</td>
      <td>{{account.cAS_ACTUAL_SIGN}}</td>
    </tr>
  </table>

  <table class="table border-section">
    <tr>
      <td class="label color" colspan="6">Other Opportunities & Other Opp Outcomes</td>
    </tr>
    <tr>
      <td class="label">IBM Cloud Pak Hybrid Cloud Opportunity:</td>
      <td>{{account.cLOUD_OPPORTUNITY}}</td>
      <td class="label">IBM Cloud Paks Sold ($ACV / $License / $ELA):</td>
      <td>{{account.cLOUD_PAKS_SOLD}}</td>
      <td class="label">Contact person Notes ID:</td>
      <td>{{account.cLOUD_PACK_NOTE_ID}}</td>
    </tr>
    <tr>
      <td class="label">IBM Public Cloud Platform Opportunity?:</td>
      <td>{{account.cLOUD_PLAT_OPPORTUNITY}}</td>
      <td class="label">IBM Public Cloud Sold Cumulative:</td>
      <td>{{account.pUB_CLOUD_SOLD_CUM}}</td>
      <td class="label">Contact person Notes ID:</td>
      <td>{{account.pUBLIC_CLOUD_NOTE_ID}}</td>
    </tr>
    <tr>
      <td class="label">GTS Managed Container Services Opportunity?:</td>
      <td>{{account.gTS_MNG_SRV_OPP}}</td>
      <td class="label">Contact person Notes ID:</td>
      <td>{{account.gTS_MANAGED_NOTE_ID}}</td>
      <td class="label"></td>
      <td></td>
    </tr>
    <tr>
      <td class="label">OpenShift Adoption Status?:</td>
      <td>{{account.oPN_ADOP_STATUS}}</td>
      <td class="label"></td>
      <td></td>
      <td class="label"></td>
      <td></td>
    </tr>
  </table>
</div>