/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bootstrap/dist/css/bootstrap.css';
@import './../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
    font-size: 15px;
    line-height: 1.428;
 }

 .dropdownNav {
    width: 3%;
    position: relative;
    display: inline-block;
}

.userLogin {
    border-radius:50%;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    min-width: auto;
    z-index: 1;
    margin-left: -100%;
}
  
.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {
    background-color: #f8f9fa;
}
  
.dropdownNav:hover .dropdown-content {
    display: block;
    font-weight: bold;
    cursor: pointer;
}